asgiref==3.8.1
diff-match-patch==20230430
Django==5.1.1
django-cors-headers==4.4.0
django-filter==24.3
django-import-export==4.1.1
django-unfold==0.40.0
djangorestframework==3.15.2
djangorestframework-queryfields==1.1.0
djangorestframework-simplejwt==5.3.1
import-export==0.3.1
modeltranslation==0.25
pillow==10.4.0
psycopg2==2.9.9
PyJWT==2.9.0
sqlparse==0.5.1
tablib==3.7.0
tzdata==2024.1
